Cal_Events_Guizalo.json
{
  "name": "Cal_Events_Guizalo",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "calendar-reminder-check",
              "leftValue": "={{ $json.start.dateTime || $json.start.date }}",
              "rightValue": "={{ $now.plus({minutes: 30}).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before",
                "singleValue": true
              }
            },
            {
              "id": "calendar-reminder-check-after",
              "leftValue": "={{ $json.start.dateTime || $json.start.date }}",
              "rightValue": "={{ $now.toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        -1968
      ],
      "id": "7fed6e91-4739-456c-a975-6eec1835d7b1",
      "name": "Check Reminder Time"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -1968
      ],
      "id": "5765a943-fe36-4cad-b810-55ec0610191c",
      "name": "Calendar Reminder Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "bdf352bf4eb1f381a7e955aa7e18bf24bb5f79453c63b26dce7f2cdcd9585e67@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Cuộc Họp Quan Trọng"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1104,
        -1968
      ],
      "id": "62b36248-9c64-4d41-a3b5-aa1731913b52",
      "name": "Get Upcoming Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "p9PDoSFtRN9Xpbk5",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "threadId": "=8300935171721752032",
        "message": "=⏰ Nhắc nhở: Sự kiện sắp diễn ra trong 30 phút!|📅 {{ $json.summary }}\n🕐 Thời gian: {{ $json.start.dateTime || $json.start.date }}\nEmail : {{ $json.creator.email }}"
      },
      "type": "n8n-nodes-zalo-user-v3.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -400,
        -1984
      ],
      "id": "f027ee0d-8854-4a67-96a8-b4c04674aea6",
      "name": "Send a message",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "vjy6RyrRSXUtwqZs",
          "name": "Zalo Hieu +84852960233 - 2025-11-15T13:17:50.630Z"
        }
      }
    },
    {
      "parameters": {
        "content": "## Trigger Remain Zalo\n",
        "height": 320,
        "width": 2192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1664,
        -2096
      ],
      "id": "f06e3d7a-7389-4319-8c8c-60aa73470039",
      "name": "Sticky Note1",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Check Reminder Time": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Reminder Trigger": {
      "main": [
        [
          {
            "node": "Get Upcoming Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming Events": {
      "main": [
        [
          {
            "node": "Check Reminder Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "bd7e6427-816f-4259-9e23-7d94656f6ff0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4b3ea1b3d09e3180d184fca687976b03162e48b2717c66faa7c750a34ed7d88"
  },
  "id": "yuDcu9TzBE8pDkWR",
  "tags": []
}